.table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);
  }
  
  @media (width >= 600px) {
    .table table {
      font-size: var(--body-font-size-s);
    }
  }
  
  @media (width >= 900px) {
    .table table {
      font-size: var(--body-font-size-m);
    }
  }
  
  .table table thead tr {
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
  }
  
  .table table tbody tr {
    border-bottom: 1px solid #dadada;
  }
  
  .table table th {
    font-weight: 700;
  }
  
  .table table th,
  .table table td {
    padding: 0.5em;
    text-align: left;
  }
  
  .table table th p,
  .table table td p {
    margin: 0;
  }
  
  .table table td p + p {
    margin-top: 0.25em;
  }
  
  /* no header variant */
  .table.no-header table tbody tr {
    border-top: 1px solid #dadada;
  }
  
  /* striped variant */
  .table.striped tbody tr:nth-child(odd) {
    background-color: var(--light-color);
  }
  
  /* bordered variant */
  .table.bordered table th,
  .table.bordered table td {
    border: 1px solid #dadada;
  }


  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.pagination-controls button {
    background-color: #f0f0f0;
    border: none;
    padding: 0.5em 1em;
    margin: 0 0.25em;
    cursor: pointer;
}

.pagination-controls button.active {
    background-color: #007bff;
    color: white;
}

.pagination-controls button:hover {
    background-color: #0056b3;
    color: white;
}

input[type="text"] {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 300px;
    border: 1px solid #dadada;
}
